.jumbotron {
	background-color: #809fff;
	margin: 0px;
}

body {
	background-color: #809fff;
}

.container {
	float: left;
}

h1 {
	display: inline-block;
}

.remove_whitespace {
	display: inline-block;
	opacity: .7;
	overflow: hidden;
}